# Active le moteur de réécriture d'Apache
RewriteEngine On

# Ne pas réécrire si le fichier ou dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige vers index.php avec le chemin en paramètre
# Redirige toutes les autres URLs vers index.php
# en passant l'URI dans le paramètre 'uri'
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
